<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
<header class="main-header">
    <img class="logo" src = "/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
    <div class = "search-box" >
        <label for="search"><input type="text" placeholder="buscar productos, marcas y mas"></label>
    </div>
    <button class ="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    <h3 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
    <a href="*" class = "hamburger-button"> <i class="fa-solid fa-bars"></i></a>
    <nav class="main-navbar">
    <ul class="left-navbar">
        <li><a href="*">Ofertas</a></li>
        <li><a href="*">Tiendas Oficiales</a></li>
        <li><a href="*">Vender</a></li>
        <li><a href="*">Ayuda</a></li>
    </ul>
    <ul class="sight-navbar">
        <li><a href="*">Creá tu cuenta</a>  <i class="fa-regular fa-id-card"></i></li>
        <li><a href="*">Ingresá</a>  <i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="*">Mis compras</a>  <i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
    </nav></header>
<div class="banner"><img src = "/images/img-home-banner.jpg" alt="home banner"></div>
<main class="main-sections">    
<section> 
    <h2 class="last view">Basado en tu última visita</h2>
     <article class="art-1"><img id = "imagen-art-1" src = "/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
     <i id ="delivery-logo" class="fa-solid fa-truck"></i>
     <p id ="precios">$6.770</p>
     <p id ="descuentos">40% Off</p>
     <p id ="descripciones">Cafetera Moulinex</p></article>

     <article class="art-2"><img src = "/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
     <i id ="delivery-logo" class="fa-solid fa-truck"></i>
     <p id ="precios">$230.000</p>
     <p id ="descuentos">20% Off</p>
     <p id ="descripciones">Macbook Pro 2019</p></article>

     <article class="art-3"><img src = "/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
     <i id ="delivery-logo" class="fa-solid fa-truck"></i>
     <p id ="precios">$70.500</p>
     <p id ="descuentos">10% Off</p>
     <p id ="descripciones">Samsung Galaxy S10</p></article>

     <article class="art-4"><img src = "/images/img-tv-samsung-smart.jpg" alt="samsung smartTV 43''">
     <i id ="delivery-logo" class="fa-solid fa-truck"></i>
     <p id ="precios">$23.200</p>
     <p id ="descuentos">5% Off</p>
     <p id ="descripciones">Smart TV Samsung 43"</p></article>   
</section>
<section>
    <h2 class="clearance">Ofertas</h2>
    <article class="art-1"> <img src = "/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
        <i id ="delivery-logo" class="fa-solid fa-truck"></i>
        <p id ="precios">$6.770</p>
        <p id ="descuentos">40% Off</p>
        <p id ="descripciones">Cafetera Moulinex</p></article>
   
        <article class="art-2"><img src = "/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
        <i id ="delivery-logo" class="fa-solid fa-truck"></i>
        <p id ="precios">$230.000</p>
        <p id ="descuentos">20% Off</p>
        <p id ="descripciones">Macbook Pro 2019</p></article>
   
        <article class="art-3"><img src = "/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
        <i id ="delivery-logo" class="fa-solid fa-truck"></i>
        <p id ="precios">$70.500</p>
        <p id ="descuentos">10% Off</p>
        <p id ="descripciones">Samsung Galaxy S10</p></article>
   
        <article class="art-4"><img src = "/images/img-tv-samsung-smart.jpg" alt="samsung smartTV 43''">
        <i id ="delivery-logo" class="fa-solid fa-truck"></i>
        <p id ="precios">$23.200</p>
        <p id ="descuentos">5% Off</p>
        <p id ="descripciones">Smart TV Samsung 43"</p></article>    
</section>
</main> 
<footer>
<sections>
    <article><i id ="pie" class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p class = "text-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos 
        de pago. ¡Y siempre es seguro!</p></article>
</sections>
<sections>
   <article><i id ="pie" class="fa-solid fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p class = "text-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
        productos. Es un beneficio de Mercado Puntos.</p></article>
</sections>
<sections>    
    <article><i id ="pie" class="fa-sharp fa-solid fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p class = "text-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p></article>
</sections>
    <p id ="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</sections>
</footer>
</body>
</html>