<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

</head>
<body>
<header class="main-header">
    <div class="logo-search-financing-container">
        <div class="logo-search">
            <img class="logo" src = "/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            <div class="search-box">
                <form action="#" method="GET"></form>
                    <label for="search">
                        <input type="text" placeholder=" buscar productos, marcas y mas" name="search" id="search">
                    </label>    
                        <div class="btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>       
            </div>        
        </div>
        <div class="financing">
            <h3><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <div class="hamburguer">
            <a href="#" class="hamburger-button"> <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>      
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta</a>  <i class="fa-regular fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a>  <i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a>  <i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
    </nav>
</header>
<main>  
    <form action="/registro" method="POST" class="login-form">
        <p class="control-form">
            <label for="Username"></label>
            <input type="text" name="username" placeholder="Nombre de Usuario">
        </p>
        <p class="control-form">
            <label for="password"></label>
            <input type="type" name="password" placeholder="Contraseña">
        </p>
        <p>
            <button id="form-button" type="submit" >Enviar</button>
        </p>
    </form>
</main> 
<footer>
    <section class="footer">
        <article class="container-footer">
            <div class="icons-footer"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="text-footer">Con Mercado Liebre Cash, tenés cuotas sin interés 
                con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
         </article>
         <article class="container-footer">
            <div class="icons-footer"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.</p>
         </article>
         <article class="container-footer">
            <div class="icons-footer"><i class="fa-sharp fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
         </article>
    </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer> 
</body>
</html>